:root {
  --primary-text-color: #212121;
  --text-title-color: #757575;
  --link-hover-color: #2196f3;
  --second-text-color: #ffffff;
  --btn-lb-color: #2196f3;
}

/* header */

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}

/* сбрасывает маркер списка */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header */
/* nav */
.logo {
  color: var(--primary-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-initial {
  color: var(--link-hover-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/*site nav*/

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--link-hover-color);
}

.site-nav .link.current {
  color: var(--link-hover-color);
}

.mail-tel .link {
  color: var(--text-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.mail-tel .link:hover,
.mail-tel .link:focus {
  color: var(--link-hover-color);
}

/* main */
.hero {
  background-color: #2f303a;
}

.hero .title {
  color: var(--second-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.btn {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--btn-lb-color);
}

/* specialites */
/* для скрытого заголовка*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.specialites-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.specialites-title-text {
  color: var(--text-title-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* our work */
.work-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
}

/* our team */
.team {
  background-color: #f5f4fa;
}

.team-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
}

.team .name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team .position {
  color: var(--text-title-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* footer */

.contac {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-style: initial;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: #2f303a;
}

.contac .addres {
  color: var(--second-text-color);
}

.contac .addres:hover,
.contac .addres:focus {
  color: var(--link-hover-color);
}

.contac .info:hover,
.contac .info:focus {
  color: var(--link-hover-color);
}

.logo-second {
  color: var(--second-text-color);
}

/* portfolio */
.filter {
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: var(--btn-lb-color);
}

.example-item {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-descript {
  color: var(--text-title-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
